{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project To-Do List</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="background">
        <nav>
        
            <div class="nav-buttons">
                <form action="{% url 'signin' %}" method="get">
                    <button type="submit" class="btn">Sign In</button>
                </form>
                <form action="{% url 'home2' %}" method="get">
                    <button type="submit" class="btn">Sign Up</button>
                </form>
            </div>
            
            
        </nav>
        
        <div class="content">
            <!-- Rectangle Box for Heading -->
            <div class="heading-box">
                <h1>Project To-Do List</h1>
            </div>

            <!-- Buttons stay centered -->
            <div class="buttons">
                <!-- View Task Button -->
                <a href="{% url 'signup' %}" class="btn">
                    <button id="viewTask">View Task</button>
                </a>

                <!-- Add New Task Button -->
                <a href="{% url 'signup' %}" class="btn">
                    <button id="addTask">Add New Task</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
